<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/style/output.css">
</head>
<body>

    <!-- Navbar -->
    <%- include('../components/navbar'); %>

    <div class="container-custom">
        <div class="flex flex-col md:grid md:grid-cols-3 justify-center gap-4">
        
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">Call Us</h2>
                    <p>Toll-Free Number: 800 726 7864 Mon-Sun | from 9:00 to 19:00 (excluding holidays).</p>
                    <p>To speed up support, it is advisable to be near the product.</p>
                    <a href="" class="btn btn-outline m-auto max-w-32">Call Us</a>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">Call Me Back</h2>
                    <p>Fill out the form, select your preferred time slot, and you will be contacted by one of our operators.</p>
                    <p>Mon-Sun | from 9:00 to 19:00 (excluding holidays)</p>
                    <a href="" class="btn btn-outline m-auto max-w-36">Fill Out the Form</a>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">WhatsApp</h2>
                    <p>Start a chat with an Open-Wiki operator</p>
                    <p>Mon-Sun | from 9:00 to 19:00 (excluding holidays)</p>
                    <a href="" class="btn btn-outline m-auto max-w-32">WhatsApp</a>
                </div>
            </div>
            
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">Technical Support Email</h2>
                    <p>Technical support for all products Mon-Sun | from 9:00 to 19:00 (excluding holidays).</p>
                    <a href="" class="btn btn-outline m-auto max-w-32">Send Email</a>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">FAQ Shop</h2>
                    <p>Find an answer quickly by consulting our FAQs.</p>
                    <a href="" class="btn btn-outline m-auto max-w-40">Learn More</a>
                </div>
            </div>
            <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">Promotion Guide</h2>
                    <p>Don't know how to participate in a promotion, have any doubts about validation, or see an error on the page?</p>
                    <a href="" class="btn btn-outline m-auto max-w-40">Learn More</a>
                </div>
            </div>            
        </div>
    </div>
    <!-- Footer component -->
    <%- include('../components/footer'); %>
    <!-- Footer component end -->
    <script src="/scripts/check_avatar_login.js"></script>
</body>
</html>