<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <link rel="stylesheet" href="/style/output.css">

</head>

<body>

    <!-- Navbar -->
    <%- include('../components/navbar_user_logged'); %>

        <!-- First Drawer Part -->
        <%- include('../layouts/before_page_content'); %>

            <!-- Page content here -->
            <div class="w-full h-full p-4">
                <div id="articleContent" class="flex flex-col gap-8">
                    <div class="flex justify-between items-center">
                        <img id="articleImg">
                        <img id="saveIcon" onclick="saveArticle(1)" class="cursor-pointer max-h-16 max-w-16 md:mr-10" src="/assets/save_icon.png" alt="save-icon">
                    </div>
                </div>
                <div id="editorjs"></div>
            </div>



            <!-- Footer component -->
            <%- include('../components/footer_user_logged'); %>
                <!-- Footer component end -->

                <!-- Last Drawer Part -->
                <%- include('../layouts/after_page_content'); %>

                <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
                <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>

                    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
                    <script src="/scripts/edit_article.js"></script>
                    <script src="/scripts/save_article.js"></script>
</body>

</html>