<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/style/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <!-- Navbar -->
    <%- include('../components/navbar_user_logged'); %>

        <!-- First Drawer Part -->
        <%- include('../layouts/before_page_content'); %>

            <!-- Page content here -->
            <div id="main-container" class="w-full h-full p-4">

                <!-- Swiper Compomemt -->
                <div class="swiper mySwiper my-10">
                    <div class="swiper-wrapper items-center">
                    </div>
                    <div class="swiper-pagination static"></div>
                </div>

                <hr class="my-8 border-y-4">

                <div id="articlesTable" class="grid grid-cols-1 md:grid-cols-3 gap-4">
                </div>

            </div>

            <!-- Footer component -->
            <%- include('../components/footer_user_logged'); %>
                <!-- Footer component end -->

                <!-- Last Drawer Part -->
                <%- include('../layouts/after_page_content'); %>

                    <!-- Swiper JS -->
                    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

                    <!-- Initialize Swiper -->
                    <script src="/scripts/swiper_library.js"></script>
                    <script src="/scripts/library.js"></script>

</body>

</html>