<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/style/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <!-- Navbar -->
    <%- include('../components/navbar_user_logged'); %>

        <!-- First Drawer Part -->
        <%- include('../layouts/before_page_content'); %>

            <!-- Page content here -->
            <div id="main-container" class="w-full h-full p-4">

                <h1 id="latestArticlesH1" class="text-3xl font-bold mt-8 text-center">Latest Articles:</h1>

                <!-- Swiper Compomemt -->
                <div class="swiper mySwiper my-10">
                    <div class="swiper-wrapper items-center">
                    </div>
                    <div class="swiper-pagination static"></div>
                </div>

                <hr class="my-8 border-y-4">

                <div class="flex flex-col lg:flex-row justify-center lg:justify-between items-center mx-8">
                    <h1 id="AtoZArticlesH1" class="text-3xl font-bold text-center">All your articles A to Z:</h1>
                    <div id="searchInLibrary" class="flex justify-center items-center gap-2">
                        <a href="javascript:void(0)" onclick="getUserArticles()">
                            <img src="/assets/refresh-arrow.png" alt="refresh-arrow" class="size-8">
                        </a>
                        <div id="searchFormId" class="flex flex-col justify-center items-center gap-2">
                            <form class="form-control relative">
                                <input id="searchInLibraryInput" type="text" placeholder="Search in Library"
                                    class="input input-bordered w-auto rounded-3xl" />
                                <button id="searchInLibraryButton">
                                    <svg class="absolute right-2 top-3 stroke-current opacity-40 text-base-content"
                                        width="23" height="23" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="articlesTable" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-10 mx-8">
                </div>

                <div id="paginationButtons" class="flex w-full justify-center items-center gap-5">
                    <button class="btn btn-outline" onclick="pagination(-9)">Prev</button>
                    <button class="btn btn-outline" onclick="pagination(9)">Next</button>
                </div>

                <div id="paginationSearchLibraryButtons" class="hidden w-full justify-center items-center gap-5">
                    <button class="btn btn-outline" onclick="paginationSearch(-9)">Prev</button>
                    <button class="btn btn-outline" onclick="paginationSearch(9)">Next</button>
                </div>

            </div>

            <!-- Footer component -->
            <%- include('../components/footer_user_logged'); %>
                <!-- Footer component end -->

                <!-- Last Drawer Part -->
                <%- include('../layouts/after_page_content'); %>

                    <!-- Swiper JS -->
                    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

                    <!-- Initialize Swiper -->
                    <script src="/scripts/swiper_library.js"></script>
                    <script src="/scripts/library.js"></script>
                    <script src="/scripts/library_search.js"></script>

</body>

</html>