<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
    <link rel="stylesheet" href="/style/output.css">
</head>

<body>

    <!-- Navbar -->
    <%- include('../components/navbar'); %>

        <!-- First Drawer Part -->
        <%- include('../components/before_page_content_user_not_logged'); %>

            <div class="container-custom">
                <div class="flex flex-col justify-center items-center gap-4">
                    <div class="card w-96 md:w-full bg-base-100 shadow-xl">
                        <div class="card-body">
                            <h2 class="card-title text-2xl font-bold">Privacy</h2>
                            <p>Your privacy is important to us. This document describes how we collect, use, and protect
                                the personal information you provide us when you use our services or our website.</p>
                            <p>We respect your privacy and are committed to protecting your personal information in
                                accordance with applicable privacy laws. We use your information only to provide the
                                requested services and to enhance your experience with us.</p>
                            <p>This privacy policy informs you about what information we collect, how we use it, and
                                with whom we share it. It also provides you with information on how you can control your
                                personal information and your choices regarding its use.</p>
                            <p>For more details about our privacy policy or to exercise your privacy rights, please
                                contact us directly. Thank you for the trust you have placed in us.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer component -->
            <%- include('../components/footer'); %>

                <!-- Last Drawer Part -->
                <%- include('../components/after_page_content_user_not_logged'); %>

</body>

</html>