<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
    <link rel="stylesheet" href="/style/output.css">

</head>

<body>

    <!-- Navbar -->
    <%- include('../components/navbar_user_logged'); %>

        <!-- First Drawer Part -->
        <%- include('../layouts/before_page_content'); %>

            <!-- Page content here -->
            <div class="w-full h-full p-4">

                <h1 class="text-5xl font-semibold my-5">Welcome to your personal space, <span id="user"></span>!</h1>

                <div class="flex flex-col justify-between items-center gap-4">

                    <div class="card h-full w-full bg-base-100 shadow-xl p-3">
                        <div class="card-body items-center w-full md:items-start gap-4">
                            <h2 class="card-title font-bold">Profile</h2>
                            <div class="flex flex-col md:flex-row w-full justify-between items-center gap-5">
                                <div class="flex flex-col md:justify-center items-center md:items-start w-full">
                                    <p class="font-semibold">First Name:</p>
                                    <p id="firstName"></p>
                                </div>
                                <div class="flex flex-col md:justify-center items-center md:items-start w-full">
                                    <p class="font-semibold">Last Name:</p>
                                    <p id="lastName"></p>
                                </div>
                                <div class="flex flex-col md:justify-center items-center md:items-start w-full">
                                    <p class="font-semibold">Email:</p>
                                    <p id="email"></p>
                                </div>
                                <button class="btn btn-primary m-2" onclick="updateUser()">Edit Details</button>
                                <button id="deleteUserButton" class="btn btn-error w-auto">Delete Account</button>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col w-full items-start my-4 gap-4">
                        <div class="flex items-center gap-3">
                            <h2 class="text-3xl font-bold">Today's Featured Article:</h2>
                            <button id="fullArticleButton" class="btn">Read Article</button>
                        </div>
                        <img id="articleImg">
                        <h3 id="todaysArticleTitle" class="text-2xl font-semibold"></h3>
                        <div id="todaysArticleContent"></div>
                    </div>

                </div>

            </div>

            <dialog id="userModal" class="modal">
                <div class="modal-box flex flex-col gap-4">
                    <h3 class="font-bold text-lg">Update your profile</h3>
                    <form id="userForm" class="flex flex-col gap-4">
                        <input type="text" class="input input-bordered w-full" name="firstName">
                        <input type="text" class="input input-bordered w-full" name="lastName">
                        <input type="text" class="input input-bordered w-full" name="email">
                        <div class="modal-action">
                            <button type="button" class="btn" onclick="userModal.close()">Close</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
            
            <!-- Footer component -->
            <%- include('../components/footer_user_logged'); %>
                <!-- Footer component end -->

                <!-- Last Drawer Part -->
                <%- include('../layouts/after_page_content'); %>


                <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

                    <script src="/scripts/profile.js"></script>
                    <script src="/scripts/delete_user_button.js"></script>
                    <script src="/scripts/daily_article.js"></script>

                    
</body>

</html>