<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/style/output.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('../components/navbar'); %>

        <!-- First Drawer Part -->
        <%- include('../components/before_page_content_user_not_logged'); %>

            <div class="container-custom">
                <div class="flex flex-col justify-center items-center gap-4">
                    <div class="card w-96 md:w-full bg-base-100 shadow-xl">
                        <div class="card-body">
                            <h2 class="card-title text-2xl font-bold">Terms and Conditions</h2>
                            <p>Welcome to the terms and conditions section of our website. This document sets out the
                                terms and conditions that govern the use of our services and our website.</p>
                            <p>By accessing our services or using our website, you agree to be bound by the following
                                terms and conditions. We invite you to read this document carefully before using our
                                services.</p>
                            <p>Our terms and conditions define your rights and responsibilities as a user of our
                                services, as well as our responsibilities towards you. If you do not accept these terms
                                and conditions, please do not use our services.</p>
                            <p>For more information about our terms and conditions, please contact us directly. Thank
                                you for choosing our services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer component -->
            <%- include('../components/footer'); %>

                <!-- Last Drawer Part -->
                <%- include('../components/after_page_content_user_not_logged'); %>

</body>

</html>