<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
    <link rel="stylesheet" href="/style/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <!-- Navbar -->
    <%- include('../components/navbar'); %>

        <!-- First Drawer Part -->
        <%- include('../layouts/before_page_content'); %>

            <!-- Page content here -->
            <div class="m-5 h-full w-full">

                <h1 class="text-2xl font-semibold"><span id="user"></span>'s Profile</h1>


                <div class="flex justify-between items-center gap-4">
                    <!-- Swiper content here -->
                    <!-- <%- include('../components/swiper_user_dashboard_component'); %> -->

                        <div class="card h-full w-full bg-base-100 shadow-xl">
                            <div class="card-body items-center md:items-start">
                                <h2 class="card-title">Library</h2>
                                <p>Read Articles</p>
                            </div>
                        </div>

                        <div class="card h-full w-full bg-base-100 shadow-xl">
                            <div class="card-body items-center md:items-start">
                                <input class="card-title" placeholder="Title">
                                <button class="btn btn-ghost">Write Article</button>
                            </div>
                        </div>
                </div>

            </div>




            <!-- Last Drawer Part -->
            <%- include('../layouts/after_page_content'); %>



                <script src="/scripts/user.js"></script>
                <script src="/scripts/check_avatar_login.js"></script>

                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                        pagination: {
                            el: ".swiper-pagination",
                            type: "progressbar",
                        },
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev",
                        },
                    });
                </script>
</body>

</html>