<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
    <link rel="stylesheet" href="/style/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>

    <!-- Navbar -->
    <%- include('../components/navbar'); %>

        <!-- First Drawer Part -->
        <%- include('../layouts/before_page_content'); %>

            <!-- Page content here -->
            <div class="m-5 h-full w-full">

                <h1 class="text-5xl font-semibold"><span id="user"></span>'s Dashboard</h1>


                <div class="flex flex-col justify-between items-center gap-4">

                    <div class="flex w-full items-center gap-6">
                        <div class="card h-full w-full bg-base-100 shadow-xl p-3">
                            <div class="card-body items-center md:items-start">
                                <h2 class="card-title font-bold">Library</h2>
                                <button class="btn btn-ghost"
                                    onclick="window.location.href=`/users/${user.id}/library`">Access Library</button>
                            </div>
                        </div>

                        <div class="card h-full w-full bg-base-100 shadow-xl p-3">
                            <div class="card-body items-center md:items-start">
                                <input class="card-title w-full" placeholder="Title">
                                <button class="btn btn-ghost">Write new Article</button>
                            </div>
                        </div>
                    </div>

                    <div class="card h-full w-full bg-base-100 shadow-xl p-3">
                        <div class="card-body items-center md:items-start gap-4">
                            <h2 class="card-title font-bold">Profile</h2>
                            <div class="flex w-full justify-between items-center">
                                <div>
                                    <p class="font-semibold">First Name:</p><span id="firstName"></span>
                                </div>
                                <div>
                                    <p class="font-semibold">Last Name:</p><span id="lastName"></span>
                                </div>
                                <div class="hidden md:block">
                                    <p class="font-semibold">Email:</p><span id="email"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>




            <!-- Last Drawer Part -->
            <%- include('../layouts/after_page_content'); %>



                <script src="/scripts/user.js"></script>
                <script src="/scripts/check_avatar_login.js"></script>

                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                        pagination: {
                            el: ".swiper-pagination",
                            type: "progressbar",
                        },
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev",
                        },
                    });
                </script>
</body>

</html>