<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form>
        <input id="summary-input" type="text" placeholder="Cerca articolo Sommario">
        <button id="summary-button" type="submit">Cerca</button>
    </form>
    <form>
        <input id="complete-input" type="text" placeholder="Cerca articolo Completo">
        <button id="complete-button" type="submit">Cerca</button>
    </form>
    <script src="/scripts/search.js"></script>
</body>
</html>