</div>
<div class="drawer-side w-full mb-5 rounded-b-2xl">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-4/5 md:w-80 min-h-full bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        <!-- Sidebar list here -->
        <li><a href="/homepage">Homepage</a></li>
        <li><a href="/about_us" class="cursor-pointer ">About Us</a></li>
        <li><a href="/contact_us" class="cursor-pointer">Contacts</a></li>
        <li><a href="/terms" class="cursor-pointer">Terms and conditions</a></li>
        <li><a href="/privacy" class="cursor-pointer">Privacy</a></li>
        <li><a href="/cookies" class="cursor-pointer">Cookies</a></li>
    </ul>
</div>
</div>
<script>

    let user = JSON.parse(localStorage.getItem('user'));

    function alertHandler(alertMessage, alertTitle = "Something is Wrong") {
        alertModal.showModal();
        document.querySelector('#alertTitle').textContent = alertTitle;
        document.querySelector('#alertMessage').textContent = alertMessage;
        document.querySelector('#alertButton').onclick = () => {
            alertModal.close();
        };
    }

    (async function () {
        const response = await fetch(`http://localhost:8000/user`,
            {
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('token')}`,
                    'Content-Type': 'application/json'
                },

            }
        );
        if (response.status === 200) {
            user = await response.json()
        }

        user = undefined;
    })();

    if (user) {
        document.querySelector('#signUpList').style.display = "none";
        document.querySelector('#loginList').style.display = "none";
        document.querySelector('#profileList').style.display = "block";
        document.querySelector('#logoutList').style.display = "block";

        document.querySelector('#footerLogin').style.display = "none";
        document.querySelector('#footerLogout').style.display = "block";
        document.querySelector('#footerSignUp').style.display = "none";
        document.querySelector('#footerProfile').style.display = "block";

    } else {
        document.querySelector('#signUpList').style.display = "block";
        document.querySelector('#loginList').style.display = "block";
        document.querySelector('#profileList').style.display = "none";
        document.querySelector('#logoutList').style.display = "none";

        document.querySelector('#footerLogin').style.display = "block";
        document.querySelector('#footerLogout').style.display = "none";
        document.querySelector('#footerSignUp').style.display = "block";
        document.querySelector('#footerProfile').style.display = "none";
    }
</script>