<section class="flex flex-col justify-center items-center shadow-lg p-6 my-6 rounded-md min-h-[600px]">
    <h2 class="text-3xl font-bold mb-4">Libreria</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- Primo ripiano -->
        <div class="p-2">
            <!-- Prima sezione -->
            <div class="grid grid-cols-5 gap-2 border border-gray-400">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Cowboy Bebop</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Neon Genesis Evangelion</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">One Piece</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Attack on Titan</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">My Hero Academia</div>
                </div>
            </div>
            <!-- Seconda sezione -->
            <div class="grid grid-cols-5 border border-gray-400 gap-2">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Naruto</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Bleach</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Fairy Tail</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Sword Art Online</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Death Note</div>
                </div>
            </div>
        </div>
        <!-- Secondo ripiano -->
        <div class="p-2">
            <!-- Prima sezione -->
            <div class="grid grid-cols-5 gap-2 border border-gray-400">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Demon Slayer</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Fullmetal Alchemist</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Dragon Ball</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Hunter x Hunter</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Tokyo Ghoul</div>
                </div>
            </div>
            <!-- Seconda sezione -->
            <div class="grid grid-cols-5 border border-gray-400 gap-2">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Steins;Gate</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Black Clover</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">One Punch Man</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Re:Zero</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">JoJo's Bizarre Adventure</div>
                </div>
            </div>
        </div>
        <!-- Terzo ripiano -->
        <div class="border-b border-gray-400 p-2">
            <!-- Prima sezione -->
            <div class="grid grid-cols-5 gap-2 border-r border-gray-400">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Gintama</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Mob Psycho 100</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Assassination Classroom</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Parasyte</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Soul Eater</div>
                </div>
            </div>
            <!-- Seconda sezione -->
            <div class="grid grid-cols-5 border-r border-gray-400 gap-2">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Hellsing</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Fate/Stay Night</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Clannad</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Akame ga Kill!</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Berserk</div>
                </div>
            </div>
        </div>
        <!-- Quarto ripiano -->
        <div class="border-b border-gray-400 p-2">
            <!-- Prima sezione -->
            <div class="grid grid-cols-5 gap-2 border-r border-gray-400">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Monster</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Toradora!</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Cowboy Bebop</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Neon Genesis Evangelion</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">One Piece</div>
                </div>
            </div>
            <!-- Seconda sezione -->
            <div class="grid grid-cols-5 border-r border-gray-400 gap-2">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Attack on Titan</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">My Hero Academia</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Naruto</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Bleach</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Fairy Tail</div>
                </div>
            </div>
        </div>
        <!-- Quinto ripiano -->
        <div class="p-2">
            <!-- Prima sezione -->
            <div class="grid grid-cols-5 gap-2 border-r border-gray-400">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Sword Art Online</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Death Note</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Demon Slayer</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Fullmetal Alchemist</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Dragon Ball</div>
                </div>
            </div>
            <!-- Seconda sezione -->
            <div class="grid grid-cols-5 border-r border-gray-400 gap-2">
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Hunter x Hunter</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Tokyo Ghoul</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Steins;Gate</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">Black Clover</div>
                </div>
                <div class="flex flex-col justify-center items-center h-36 w-12 bg-gray-200 border p-2 rounded-md shadow-md">
                    <div class="article-title !text-xs font-semibold transform -rotate-90 whitespace-nowrap">One Punch Man</div>
                </div>
            </div>
        </div>
    </div>
</section>