
<div class="shadow-lg">
    <div class="container-custom navbar justify-between">
        <div class="flex-none lg:hidden">
            <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </label>
        </div>


        <!-- Logo image component -->
        <a href="/homepage" class="size-20">
            <img src="/assets/Logo-Open-Wiki.png" alt="Logo-Open-Wiki">
        </a>



        <!-- Navbar menu -->
        <div class="flex-none hidden md:block">
            <ul class="flex justify-center items-center gap-6">

                <!-- Navbar menu content here -->
                <li><a href="#">Today's Article</a></li>
                <li><a href="#">About Us</a></li>


            </ul>
        </div>
        <!-- Navbar menu end -->


        <!-- Search/Login block -->
        <div class="flex justify-center items-center gap-8">

            <!-- Search input -->
            <%- include('./search_input_component'); %>

            <!-- Avatar dropdown -->
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img class="" src="/assets/profile_icon.jpg" />
                    </div>
                </div>
                <ul tabindex="0"
                    class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">

                    <!-- If User not Logged In -->
                    <li id="signUpList"><a onclick="openModals(signUpModal, signUpForm)">Sign Up</a></li>
                    <li id="loginList"><a onclick="openModals(logInModal, loginForm)">Login</a></li>

                    <!-- If User Logged In -->
                    <li id="profileList"><a onclick="window.location.href = `/users/${user.id}`">Profile</a></li>
                    <li id="logoutList"><a onclick="localStorage.clear(); window.location.href='/homepage'">Logout</a></li>
                </ul>
            </div>

        </div>
        <!-- Search/Login block end -->

    </div>
</div>
<!-- Navbar end-->