</div> 
<div class="drawer-side w-full">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
  <ul class="menu p-4 w-4/5 md:w-80 min-h-full bg-base-200 text-base-content">
    <!-- Sidebar content here -->
    <!-- Search input -->
    <div class="form-control relative my-6">
        <input type="text" placeholder="Search"
            class="input input-bordered w-auto rounded-3xl" />
        <svg class="absolute right-2 top-3 stroke-current opacity-40 text-base-content"
            width="23" height="23" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
    </div>
    <li><a>Sidebar Item 1</a></li>
    <li><a>Sidebar Item 2</a></li>
  </ul>
</div>
</div>