@tailwind base;
@tailwind components;
@tailwind utilities;

.container-custom {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 1rem;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px !important;
    
}

.swiper-slide img {
    display: block;
    width: 100%;
    max-height: 300px !important;
}

.swiper-pagination {
    position: static !important;
}

.article-preview {
    border: 1px solid #e0e0e0;
    padding: 16px;
    margin: 16px 0;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.article-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 8px;
}

.article-content {
    font-size: 1em;
    line-height: 1.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}